<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Déclaration des fonctionnalités de l'appareil -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanQRcodeToApi"
        tools:targetApi="31">

        <!-- Déclaration de l'activité ZXing avec résolution des conflits -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            tools:replace="android:screenOrientation,android:theme"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <!-- Déclaration de l'activité principale -->
        <activity android:name=".main_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
